<template id="tmpl-pagination">
  <div class="pagination-container">
    <button class="page-btn" data-action="first">
      <i class="fa-solid fa-angles-left"></i>
    </button>
    <button class="page-btn" data-action="prev">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <span class="page-indicator no-select"></span>
    <button class="page-btn" data-action="next">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
    <button class="page-btn" data-action="last">
      <i class="fa-solid fa-angles-right"></i>
    </button>
  </div>
</template>